.chatArea {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
